body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
   -khtml-user-select: none;   /* Konqueror HTML */
     -moz-user-select: none;   /* Firefox */
      -ms-user-select: none;   /* Internet Explorer/Edge */
          user-select: none;   /* Chrome/Future-proofing */

  background: url(bkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0px 0px 5px 0px;
  font-size: 80px;
  color: white;
}

h4 {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000, 0 0 5px #000;
  font-family: 'Roboto Slab', sans-serif;
  margin: 0px 0px 5px 0px;
  font-size: 30px;
  color: white;
}

td {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Roboto', sans-serif;
  color: white;
}

td.spacer {
  width: 25px;
}

tr {
}

tr.spacer {
  height: 5px !important;
}

.multiplier {
  font-size: 15px;
  color: #0c0;
}

.max {
  font-size: 15px;
  color: #fff;
}

.center {
  text-align: center;
}

.button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
   -khtml-user-select: none;   /* Konqueror HTML */
     -moz-user-select: none;   /* Firefox */
      -ms-user-select: none;   /* Internet Explorer/Edge */
          user-select: none;   /* Chrome/Future-proofing */
  text-align: center !important;
  border: 2px solid black;
  background-color: #ccc;
  font-weight: bold;
  width: 200px;
  height: 29px;
}

.smolbutton {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
   -khtml-user-select: none;   /* Konqueror HTML */
     -moz-user-select: none;   /* Firefox */
      -ms-user-select: none;   /* Internet Explorer/Edge */
          user-select: none;   /* Chrome/Future-proofing */
  text-align: center !important;
  border: 2px solid black;
  background-color: #ccc;
  font-weight: bold;
  /*width: 200px;*/
  height: 29px;
}

.button.greyed-out {
  text-shadow: 2px 0 0 #444, -2px 0 0 #444, 0 2px 0 #444, 0 -2px 0 #444, 1px 1px #444, -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444;
  background-color: #777;
  color: #aaa;
}

.smolbutton.greyed-out {
  text-shadow: 2px 0 0 #444, -2px 0 0 #444, 0 2px 0 #444, 0 -2px 0 #444, 1px 1px #444, -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444;
  background-color: #777;
  color: #aaa;
}

.button.greyed-out-perm {
  text-shadow: 2px 0 0 #444, -2px 0 0 #444, 0 2px 0 #444, 0 -2px 0 #444, 1px 1px #444, -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444;
  background-color: #777;
  color: #aaa;
}

.desc {
  padding-left: 7px !important;
  font-style: italic;
  color: #666;
}

.cost {
  font-style: italic;
  color: #666;
}

.amnt {
  text-align: right !important;
}

#saveLoadGUI {
  background-color: #ddd;
  position: absolute;
  padding: 10px;
  height: 215px;
  width: 650px;
  right: 10px;
  top: 10px;
}

.saveLoadButton {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #0bb;
  position: absolute;
}

.saveLoadButton:hover {
  color: #0ff;
}

.warning {
  color:#d21;
}

#saveLoadTextarea {
  height: 170px;
  width: 640px;
  resize: none;
}

#upgradesBought {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: white;
}

#info {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  color: white;
}

#info tr td {
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
}

#info tr td.cashCount {
  text-align: right;
}

#extracurrency {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  color: white;
}

#extracurrency tr td {
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
}

#extracurrency tr td.cashCount {
  text-align: right;
}

#game-left {
  position: absolute;
  left: 10px;
}

#game-right {
  position: absolute;
  right: 10px;
}

#credits {
  position: fixed;
  z-index: 1000;
  text-align: right;
  bottom: 10px;
  right: 10px;
}

#credits p {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-family: 'Roboto Slab', sans-serif;
  /*font-style: italic;*/
  font-size: 20px;
  color: #aaa;
}

#credits p a {
  text-decoration: none;
  color: #0bb;
}

#credits p a:hover {
  color: #0ff
}

#tabs {
  border-collapse: collapse;
  position:relative;
  top: 1px;
}

#tabs tr td {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
   -khtml-user-select: none;   /* Konqueror HTML */
     -moz-user-select: none;   /* Firefox */
      -ms-user-select: none;   /* Internet Explorer/Edge */
          user-select: none;   /* Chrome/Future-proofing */
  font-family: 'Roboto Slab', sans-serif;
  border: 3px solid black;
  background-color: #888;
  text-align: center;
  width: 150px;
  height: 30px;
}

#tabs tr td.selectedTab {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  border: 3px solid black;
  background-color: #fff;
  border-bottom: none;
  color: white;
}

.upgradeTable tr td {
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
}

.upgradeTable tr:first-child {
  border: 2px solid black;
  text-align: center;
}

.upgradeTable tr td:first-child {
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  width: 200px;
  height: 35px;
}
